/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Media Queries */

@media (max-width: 670px) {
  .overviewContainer {
    flex-direction: column;
  }
  .overviewContainer a {
    max-width: 94%;
  }
  .reposContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reposContainer::-webkit-scrollbar {
    width: 8px;
  }
  .reposContainer a {
    max-width: 94%;
    margin: 0 auto;
  }
  .user .useContainer {
    display: flex;
    justify-content: space-between;
  }
  .user .useContainer .imgContainer {
    width: 100%;
    max-width: 40%;
    height: 150px;
  }
  .user .useContainer .imgContainer img {
    width: 100%;
    height: 100%;
  }
  .user .useContainer .userRow {
    width: 100%;
    max-width: 56%;
  }
  .user .useContainer .userRow .userInfo,
  .user .useContainer .userRow .userLinks {
    padding: 0;
  }
  .user .useContainer .userRow .userDesc p {
    margin: 12px 0;
  }
}

@media (min-width: 671px) and (max-width: 989px) {
  .user .userContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user .userContainer .imgContainer {
    width: 100%;
    max-width: 40%;
  }
  .user .userContainer .imgContainer img {
    width: 100%;
    height: 100%;
  }
  .user .userContainer .userRow {
    width: 100%;
    max-width: 55%;
  }
  .user .userContainer .userRow .userInfo,
  .user .userContainer .userRow .userLinks {
    padding: 0;
  }
}

@media (max-width: 989px) {
  .hero .container:not(:first-child) {
    padding: 30px 0;
    flex-direction: column;
  }
  .hero .container:not(:first-child) .wrapper {
    max-width: 100%;
    margin: 50px 0 0 0;
  }
  .user {
    max-width: 100%;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .user .userContainer .userRow .userDesc p {
    font-size: 13px;
  }
}

@media (min-width: 990px) and (max-width: 1250px) {
  .hero .container:not(:first-child) .wrapper {
    max-width: 70%;
  }
  .user {
    max-width: 26%;
  }
}

@media (max-width: 1250px) {
  .container {
    max-width: 90%;
  }
}
